<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Website</title>
</head>
<body>
    <center><h1>Veg Maggie Recipe</h1></center>
    <hr>
    <center><img src="https://source.unsplash.com/600x300/?noodles" class="d-block w-100"></center>
    <hr>
    <h2>Ingredeints</h2>
    <ul>
        <li>packet maggi</li>
        <li>Chopped Onion</li>
        <li>Chopped Tomatoes</li>
        <li>Chopped Capsicum</li>
    </ul>
    <hr>
    <h2>Cooking Instruction</h2>
    <ol>
        <li>Saute all vegetables in a pan</li>
        <li>Put maggi masala in a pan and saute it for one minute</li>
        <li>Put noodles and water in a pan</li>
        <li>Cook till noodles are done</li>
    </ol>
</body>
</html>